html {
  
    overflow-x: hidden;
 }
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body
{
	background: url(../images/home.jpg);
}
section
{
	position: relative;
	background: url(../images/home.jpg);
	background-size: cover;
	width: 100%;
	min-height: 110vh;
	background-position: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 7px;
	margin-top: -20px;
	
}
header .logo
{
	position: relative;
	font-size: 2em;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 1px;
	margin-top: -20px;

	}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	padding: 33px 140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
a span 
{
	color: #DB6A22;
	margin-top: -20px;
}
header .navigation
{
	position: relative;
	display: flex;
	font-size: 1em;
	text-transform: uppercase;
}
header .navigation li
{
	list-style: none;
}
header .navigation li a
{
	display: inline-block;
	color: white;
	margin-right: 140px;
	margin-left: -120px;
	text-decoration: none;
	margin-top: -30px;
	margin-bottom: 40px;


}
video
{
	padding-left: 500px;
}
header .navigation li a:hover
{
	color: #DB6A22;
}

      h3{
      text-align: center;
      font-size: 30px;
      margin: 0;
      padding-top: 10px;
      color: #DBB822;
      }
      a{
      text-decoration: none;
      }
      .gallery{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 50px 60px;
      margin-top: 130px;

      }
      .content{
      width: 20%;
      margin: 30px;
      box-sizing: border-box;
      
      text-align: center;
      border-radius:10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding-top: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: .4s;
      background-color: #DB6A22;
      
      }
      .content:hover{
      box-shadow: 0 0 11px rgba(33,33,33,.2);
      transform: translate(0px, -8px);
      transition: .6s;
      }
      img{
      width: 100px;
      height: 100px;
      text-align: center;
      margin: 0 auto;
      display: block;
      }

      p{
      text-align: center;
      color: #fff;
      padding: 0px;
      }
      h6{
      font-size: 20px;
      text-align: center;
      color: #DBB822;
      margin: 0;
      }
      ul{
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
      }
      li{
      padding: 2px;
      }
      .fa{
      color: #A35F13;
      font-size: 20px;
      transition: .4s;
      }
      .fa:hover{
      transform: scale(1.3);
      transition: .6s;
      }
      button{
      text-align: center;
      font-size: 24px;
      color: #A35F13;
      width: 50%;
      padding: 5px;
      border:0px;
      outline: none;
      cursor: pointer;
      margin-top: -20px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      }
      .buy-1{
      background-color: #0b0b0b;
      }
      .buy-2{
      background-color: #0b0b0b;
      }
      .buy-3{
      background-color: #0b0b0b;
      }
      