*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

a span 
{
	color: #DB6A22;
}
section
{
	position: relative;
	background: url(bg.jpg);
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	background-position: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 100px;
	
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;


}
header .logo
{
	position: relative;
	font-size: 2em;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 1px;
}
header .navigation
{
	position: relative;
	display: flex;
}
header .navigation li
{
	list-style: none;
}
header .navigation li a
{
	display: inline-block;
	color: white;
	margin-right: 40px;
	text-decoration: none;

}
header .navigation li a:hover
{
	color: #807270;
}
.content
{
	max-width: 600px;
}
.content .contentBx h2
{
	font-size: 2em;
	color: #F0DEDB;
	line-height: 1em;
}
.content .contentBx p
{
	font-size: 1.1em;
	color: #F0DEDB;
	font-weight: 300;
	margin: 20px 0;
}
.content .contentBx a
{
	padding: 10px;
	display: inline-block;
	background: #69F2EC;
	color: white;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 10%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.content .contentBx a:hover
{
	background: white;
	color: #DB6A22;
}
.sci 
{
	position: absolute;
	bottom: 30px;
	display: flex;
}
.sci li 
{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sci li a 
{
	position: relative;
	display: inline-block;
	margin-right: 20px;
	filter: invert(0);
	transform: scale(0.5);
}

